.reveal .slides {
    font-family: 'Raleway', sans-serif!important;
}

.reveal .arslayout--header_container {
    position: relative;
    width: 100%;
    height: 90px;
    overflow: hidden;
    top: 13px;
}

.arslayout--header_logo {
    position: absolute;
    right: 0;
    width: 208px;
    fill: #c30;
}

.arslayout--header_title {
    position: absolute;
    left: 0;
    top: 0;
    padding-bottom: 5px!important;
    font-size: 34px!important;
    font-weight: 300!important;
    color: #777;
}

.arslayout--header_slidetitle {
    bottom: 0;
    left: 0;
    position: absolute;
    font-size: 34px!important;
    font-weight: 700!important;
    color: #333;
}

.slides h2.slide-title {
    display: none;
}

.arslayout--title_container {
    float: left;
    position: relative;
    top: -10px!important;
    left: 0;
    width: 100%;
    height: 87px;
}

.reveal .arslayout--slidecontent {
    height: 635px;
    box-sizing: border-box;
    padding: 20px 0;
    overflow: hidden;
    font-family: 'Raleway', sans-serif!important;
    font-size: 36px;
}

.reveal .arslayout--footer_container {
    width: 100%;
    height: 50px;
    font-size: 13px;
    background: #f0f0f0;
    padding: 20px;
}

.reveal .arslayout--footer_container:before {
    content: " ";
    position: fixed;
    bottom: -10px;
    left: -4000px;
    width: 9000px;
    height: 50px;
    background: #f0f0f0;
    z-index: -1;
}

.arslayout--footer_copyright {
    float: left;
    padding: 10px 0;
    font-size: 22px;
    font-weight: 500!important;
    color: #000;
}

.arslayout--footer_slidepagenumber {
    position: absolute;
    right: 0;
    font-weight: 700!important;
    font-size: 19px!important;
}

.title main {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width:1024px;
}

.title footer {
    position: absolute;
    bottom: -50px;
}

.reveal pre {
    box-shadow: none;
}

.reveal pre code {
    padding: 5px 15px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-weight: 600;
    text-transform: none;
    font-size: 1.2em;
}

.reveal ul {
    position: relative;
}

.reveal ul li:before {
    content: "■";
    color: #c30;
    left: -0.8em;
    position: absolute;
}
.reveal ul ul li:before {
    content: "■";
    font-size: 0.8em;
    color: #999;
    position: absolute;
    left: -0.8em;
    top: 4px;
}
.reveal ul li {
    list-style-type: none;
    list-style-position: inside;
    position: relative;
}

.reveal ul ul {
    color: #222;
    list-style: disc;
}

.reveal section img {
    box-shadow: none;
    border: none;
}

.token.operator {
    color: #f8a752;
}

.token.function {
    color: #e94652;
}

.token.string {
    color: #86c21e;
}

.token.keyword {
    color: #fe3;
}

.token.property,
.token.propertyDef {
    color: #69c6e2;
}

.token.function-def {
    font-weight: 600;
}

/* Title slides styling */

.slides .title footer,
.slides .title .arslayout--title_container {
    display: none!important;
}

.slides .title main {
    position: relative;
    top: 95px;
    height: 435px;
    background: #f0f0f0;
}

.slides .title main h2 {
    font-size: 69px;
    line-height: 0.95;
    margin-bottom: 0.8em;
}

.slides .title main:before {
    content: " ";
    display: block;
    position: fixed;
    height: 435px;
    left: -4000px;
    top: 185px;
    width: 9000px;
    z-index: -1;
    background: #f0f0f0;
}


