.reveal .slides {
    font-family: 'Raleway', sans-serif!important;
}

.reveal .arslayout--header_container {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
    border-bottom: 2px solid #c30;
}

.arslayout--header_logo {
    float: right;
    width: 100px;
    fill: #c30;
}

.arslayout--header_title {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 5px!important;
    font-size: 22px!important;
    color: #555;
}

.reveal .arslayout--slidecontent {
    height: 648px;
    box-sizing: border-box;
    padding: 20px 0;
    overflow: hidden;
    font-family: 'Raleway', sans-serif!important;
    font-size: 36px;
}

.reveal .arslayout--footer_container {
    width: 100%;
    height: 50px;
    padding: 10px 0;
    border-top: 2px solid #c30;
    font-size: 20px;
}

.arslayout--footer_copyright {
    float: left;
    padding: 10px 0;
    font-size: 22px;
}

.title main {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width:1024px;
}

.title footer {
    position: absolute;
    bottom: -50px;
}

.reveal pre {
    box-shadow: none;
}

.reveal pre code {
    padding: 5px 15px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-weight: 600;
    text-transform: none;
    font-size: 1.2em;
}

.reveal ul {
    position: relative;
}

.reveal ul li:before {
    content: "■";
    color: #c30;
    left: -0.8em;
    position: absolute;
}
.reveal ul ul li:before {
    content: "■";
    font-size: 0.8em;
    color: #999;
    position: absolute;
    left: -0.8em;
    top: 4px;
}
.reveal ul li {
    list-style-type: none;
    list-style-position: inside;
    position: relative;
}

.reveal ul ul {
    color: #222;
    list-style: disc;
}

.reveal section img {
    box-shadow: none;
    border: none;
}

.token.operator {
    color: #f8a752;
}

.token.function {
    color: #e94652;
}

.token.string {
    color: #86c21e;
}

.token.keyword {
    color: #fe3;
}

.token.property,
.token.propertyDef {
    color: #69c6e2;
}

.token.function-def {
    font-weight: 600;
}
