<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Functional Programming I</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="js/reveal.js-master/css/reveal.css">
    <link rel="stylesheet" href="js/reveal.js-master/css/theme/white.css" id="theme">
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="css/ars-overrides.css">

    <script type="application/javascript">
      const arsSettings = {
        presentationTitle: 'Functional Programming I'
      }
    </script>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section class="noheight title">
            <h2>Introduction to Functional Programming</h2>
            <p>Max Mustermann, Sybille Musterfrau, Noch Jemand Anders</p>
        </section>
        <section>
            <h2 class="slide-title">Sample code for testing syntax hightlighting</h2>
            <pre><code class="language-javascript">var a = 0;
for (var i=0; i < 100; i++) {
  a += 1;
}
let oinkmen = function testName(a) {
  return function(b) {
    return a * b;
  }
}

let test = Rx.Observable.fromEvent('click', el)
             .map( e => e.targetElement )
let str = "This is a string";
b === oinkmen;</code></pre>
        </section>
        <section class="noheight">
            <h2 class="slide-title" style="border:none">Questions?</h2>
            <p>Slides: http://www.slideshare.net/TorstenMuller1/rx-talk</p>
            <ul>
                <li>Etwas, das man mitteilen möchte</li>
                <li>Noch etwas, was auch Unterpunkte hat
                <ul>
                    <li>Unterpunkt 1</li>
                    <li>Unterpunkt 2</li>
                    <li>Unterpunkt 3</li>
                </ul></li>
                <li>Und noch was hier</li>
            </ul>
        </section>

    </div>
</div>

<div style="display:none" id="layout-header">
    <header class="arslayout--header_container">

        <section class="arslayout--title_container">
            <div class="arslayout--header_title">{{presentationTitle}}</div>
            <div class="arslayout--header_slidetitle" class="slide-title-container">This is a Test</div>
        </section>
        <div class="arslayout--header_logo">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 52">
            <path d="M16.277,27L11.25,40.465c-0.188,0.586-0.281,1.184-0.281,1.793c0,1.219,0.416,2.256,1.248,3.111
		c0.832,0.855,1.822,1.283,2.971,1.283l-0.07,1.16H0v-1.16c1.266,0,2.303-0.287,3.111-0.861s1.459-1.775,1.951-3.604l13.535-34.91
		c0.469-1.289,0.703-2.367,0.703-3.234c0-1.594-0.621-2.391-1.863-2.391V0.598h16.277v1.055c-0.703,0-1.219,0.293-1.547,0.879
		c-0.329,0.586-0.492,1.301-0.492,2.145c0,0.773,0.128,1.477,0.387,2.109l12.867,36c0.211,0.375,0.504,0.891,0.879,1.547
		c0.375,0.656,0.814,1.207,1.318,1.652c0.504,0.445,1.095,0.668,1.775,0.668v1.16h-16.84v-1.16c2.531-0.938,3.797-2.613,3.797-5.027
		c0-1.969-0.909-4.084-2.725-6.346c-1.816-2.262-4.236-4.172-7.26-5.73S19.652,27.141,16.277,27z M17.438,23.027
		c1.71,0,3.363,0.164,4.957,0.492c1.594,0.328,3.152,0.914,4.676,1.758c1.523,0.844,2.988,1.969,4.395,3.375l-7.84-22.465
		L17.438,23.027z"/>
            <path d="M62.93,25.277v16.348c0,1.406,0.498,2.596,1.494,3.568s2.174,1.459,3.533,1.459v1.16h-18v-1.16
		c1.453,0,2.672-0.521,3.656-1.564s1.477-2.396,1.477-4.061V9c0-2.953-0.516-4.916-1.547-5.889
		c-1.032-0.973-2.227-1.459-3.586-1.459V0.598h29.32c3,0,5.273,0.656,6.82,1.969s2.32,3,2.32,5.062c0,2.32-0.926,4.617-2.777,6.891
		s-4.359,3.984-7.523,5.133c2.789,2.883,5.033,5.812,6.732,8.789s3.229,6.07,4.588,9.281s2.461,5.473,3.305,6.785
		s1.969,2.027,3.375,2.145v1.16h-15.75v-1.16c0.914,0,1.611-0.281,2.092-0.844s0.721-1.359,0.721-2.391
		c0-2.039-0.914-4.512-2.742-7.418l-9.07-13.535L62.93,25.277z M62.93,21.973c3.07-0.984,5.941-2.121,8.613-3.41
		s4.846-2.725,6.521-4.307s2.514-3.264,2.514-5.045c0-0.562-0.047-1.02-0.141-1.371c-0.281-1.148-1.318-2.033-3.111-2.654
		s-3.826-0.932-6.1-0.932c-1.5,0-2.865,0.117-4.096,0.352s-2.238,0.586-3.023,1.055S62.93,6.668,62.93,7.277V21.973z"/>
            <path d="M127.09,0l2.777,14.027l-1.125,0.598c-0.984-3.422-2.965-5.994-5.941-7.717s-6.164-2.584-9.562-2.584
		c-1.266,0-2.42,0.117-3.463,0.352s-1.98,0.58-2.812,1.037s-1.447,0.979-1.846,1.564c-0.633,0.891-0.949,1.711-0.949,2.461
		c0,1.266,0.832,2.338,2.496,3.217s3.75,1.664,6.258,2.355s5.344,1.465,8.508,2.32s5.402,1.729,6.715,2.619
		c2.297,1.453,4.084,3.182,5.361,5.186s1.916,4.131,1.916,6.381c0,3.539-1.488,6.996-4.465,10.371
		c-1.43,1.57-2.994,2.871-4.693,3.902s-3.475,1.793-5.326,2.285s-3.738,0.738-5.66,0.738c-3.047,0-6.246-0.598-9.598-1.793
		c-1.453-0.352-2.648-0.527-3.586-0.527c-1.547,0-2.602,0.527-3.164,1.582l-3.973-18.562l1.16-0.562
		c0.258,1.641,0.873,3.346,1.846,5.115s2.279,3.428,3.92,4.975s3.533,2.795,5.678,3.744s4.447,1.424,6.908,1.424
		c2.695,0,5.379-0.574,8.051-1.723c1.5-0.609,2.707-1.664,3.621-3.164s1.371-3.141,1.371-4.922c0-1.758-0.498-3.334-1.494-4.729
		s-2.514-2.385-4.553-2.971c-1.031-0.375-3.475-1.143-7.33-2.303s-6.973-2.268-9.352-3.322s-4.312-2.35-5.801-3.885
		s-2.232-3.381-2.232-5.537c0-0.914,0.152-1.898,0.457-2.953c0.445-1.43,1.178-2.701,2.197-3.814s2.273-2.039,3.762-2.777
		s3.105-1.277,4.852-1.617s3.557-0.51,5.432-0.51c2.344,0,4.629,0.293,6.855,0.879c1.734,0.281,2.93,0.422,3.586,0.422
		C125.461,1.582,126.527,1.055,127.09,0z"/>
        </svg></div>
    </header>
</div>
<div style="display:none" id="layout-footer">
    <footer class="arslayout--footer_container">
        <div class="arslayout--footer_copyright">&copy; ARS Computer und Consulting GmbH</div>
        <div class="arslayout--footer_slidepagenumber"></div>
    </footer>
</div>
</body>
<script src="js/reveal.js-master/lib/js/head.min.js"></script>
<script src="js/reveal.js-master/js/reveal.js"></script>
<script src="js/reveal.js-master/plugin/ars-layout/ars-layout.js"></script>
<script src="js/prism.js"></script>
<script>

  ArsLayout.init();

  // Full list of configuration options available at:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    width: 1024,
    height: 768,
    controls: false,
    progress: false,
    history: true,
    center: true,

    transition: 'fade', // none/fade/slide/convex/concave/zoom

//    dependencies: [
//                        { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
//                        { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
//                        { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
//      { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
//                        { src: 'plugin/zoom-js/zoom.js', async: true },
//                        { src: 'plugin/notes/notes.js', async: true }
//    ]
  });

</script>


<!--<script>impress().init();</script>-->
</html>
